<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="d-flex justify-content-center mt-3 w-100 gap-2">
      <form action="/" method="get">
        <button type="submit" class="btn btn-primary">Home</button>
      </form>

      <form action="/userLibrary" method="get">
        <button type="submit" class="btn btn-secondary">
          Back To <%= userName %>'s Library
        </button>
      </form>
    </div>

    <% if (!locals.editingReview) { %>
    <h1>Your review of "<%= bookTitle %>"?</h1>
    <form action="/addBookReview" method="post">
      <select name="reviewNum" id="reviewNum">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <label for="reviewNum">Choose how many stars to give</label>

      <textarea name="reviewNote" id="reviewNote"></textarea>
      <label for="reviewNote">Write down your thoughts:</label>

      <button type="submit">Submit</button>
    </form>
    <% } else { %>
    <h1>Edit your review of "<%= bookTitle %>?"</h1>
    <form action="/updatedBookReview" method="post">
      <select name="reviewNum" id="reviewNum">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <label for="reviewNum">Choose how many stars to give</label>

      <input type="text" name="reviewNote" id="reviewNote" />
      <label for="reviewNote">Write down your thoughts:</label>

      <button type="submit">Submit</button>
    </form>
    <% } %>
  </body>
</html>
