<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <div
        class="row flex-column align-items-center justify-content-center min-vh-100"
      >
        <div class="col-6">
          <h1>Which User Do You Want To Delete?</h1>

          <form
            action="deleteUser"
            method="post"
            class="d-flex justify-content-center align-items-center gap-2"
          >
            <select
              name="deleteUser"
              id="deleteUser"
              class="form-select"
              style="max-width: 200px"
            >
              <% users.forEach(user => { %>
              <option value="<%= user %>"><%= user %></option>
              <% }); %>
            </select>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
