<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= message %></h1>

    <h1>Welcome, which user’s books do you want to see?</h1>

    <form action="/user" method="post">
      <label for="user">Pick a user:</label>
      <select name="user" id="user">
        <option value="Cristian">Cristian</option>
        <option value="Alyssa">Alyssa</option>
      </select>

      <br />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
