<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= message %></h1>

    <h1>Welcome, which user’s books do you want to see?</h1>

    <form action="/user" method="post">
      <select name="user">
        <option value="" disabled hidden selected>Pick a user</option>
        <option value="cristian">Cristian</option>
        <option value="alyssa">Alyssa</option>
      </select>

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
