<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <div class="d-flex justify-content-center gap-2 mt-2">
      <a href="/addUserPage" class="btn btn-secondary">Add User</a>
      <a href="/deleteUserPage" class="btn btn-secondary">Delete User</a>
    </div>

    <div class="container">
      <div
        class="row flex-column align-items-center justify-content-center min-vh-100"
      >
        <div class="col-6">
          <h1 class="mb-5 text-center">
            Welcome, which user’s books <br />
            do you want to see?
          </h1>
          <form
            action="/user"
            method="post"
            class="d-flex flex-column align-items-center"
          >
            <label for="user" class="fs-5">Pick a user:</label>
            <select
              name="user"
              id="user"
              class="mb-3 form-select"
              style="max-width: 200px"
            >
              <% users.forEach(user => { %>
              <option value="<%= user %>"><%= user %></option>
              <% }); %>
            </select>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
