<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-lg-6">
          <!-- CRIS/ title -->
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
            <%= book.title %>
          </h1>
          <p class="lead"><%= book.summary %></p>
        </div>

        <div class="col-10 col-sm-8 col-lg-6">
          <!-- CRIS/ book cover -->
          <img
            src="<%= book.book_cover %>"
            class="d-block mx-lg-auto img-fluid"
            alt="book cover"
            max-height="500"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </body>
</html>
