<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
  </head>
  <body>
    <h1><%= locals.name ? name : 'User' %>'s Books</h1>

    <div class="album py-5 bg-body-tertiary">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <!-- For each book, do the code below -->
          <% books.forEach((book => { %>
          <div class="col">
            <div class="card shadow-sm">
              <img
                src="<%= book.book_cover %>"
                alt="book cover"
                style="max-height: 400px; width: auto"
                class="mx-auto d-block"
              />

              <!-- Book name -->
              <div class="card-body">
                <h2><%= book.title %></h2>

                <!-- Book summary -->
                <p class="card-text"><%= book.summary %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      View
                    </button>
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      Edit
                    </button>
                  </div>
                  <small class="text-body-secondary">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <% })); %>
        </div>
      </div>
    </div>
  </body>
</html>
